@font-face {
    font-family: 'Floripa';
    src: url('Floripa.eot');
    src: local('Floripa'),
        url('../fonts/Floripa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Floripa.woff2') format('woff2'),
        url('../fonts/Floripa.woff') format('woff'),
        url('../fonts/Floripa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prosto One';
    src: local('Prosto One'),
        url('../fonts/ProstoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------- */
* {
    margin: 0;
    color: white;
}

button {
    background-color: transparent;
    border: 0;
}

body {
    font-size: 16px;
    margin: 0;
    background-color: #111111;

}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Floripa', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5em;
}

p {
    font-family: "Prosto One";
}

/* ------------------------------------ */
/* header */

.header {
    width: 100%;
    height: 100%;
    position: relative;
}

.header img {
    min-height: 30px;
    height: 5%;
    position: absolute;
    right: 2vh;
    top: 2vh;
    filter: invert(100%);
}

.userTable {
    width: 180px;
    padding: 5px;
    background-color: #343434;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 8px;
    position: absolute;
    right: 20px;
    top: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавляем тень */
}
.tel {
    color: white;
    margin-top: 3%;
    margin-bottom: 5%;
}
.exit {
    background-color: #111111;
    border: 1px solid #111111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Prosto One',-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    margin-bottom: 3%;
    outline: none;
    padding: 4px 14px;
    position: relative;
    text-align: center;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.exit:focus-visible {
    box-shadow: #111111 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
.exit:active {
    background-color: #111111;
    border-color: #000000;
    transform: scale(.96);
}
  
.exit:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}


.setting {
    width: 100%;
    height: 100vh;
}



