@font-face {
    font-family: 'Floripa';
    src: url('Floripa.eot');
    src: local('Floripa'),
        url('../fonts/Floripa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Floripa.woff2') format('woff2'),
        url('../fonts/Floripa.woff') format('woff'),
        url('../fonts/Floripa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prosto One';
    src: local('Prosto One'),
        url('../fonts/ProstoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* -------------------------------- */

body {
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Floripa', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5em;
}

p {
    font-family: "Prosto One";
}

/* первый блок */

.main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/back.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    flex-direction: column;
}

.main img {
    min-height: 30px;
    height: 5%;
    position: absolute;
    right: 2vw;
    top: 2vw;
}

.dj h1 {
    font-size: 5vw;
    color: #111111;
}

.dj span {
    letter-spacing: 0;
}

.desc p {
    font-size: 2vh;
    margin: 0;
    letter-spacing: 0.5em;
    font-weight: 900;
    color: #111111;
}

/* второй блок */

.content {
    height: 100vh;
    width: 100%;
    background-color: #111111;
    text-align: center;
    display: flex;
    position: relative;
}

.text {
    color: white;
    width: 72.36vw;
    font-size: 2vh;
    margin: 0;
    letter-spacing: 0.2em;
    font-weight: 900;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.try {
    margin-top: 60vh; 
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
    width: 20vh;
}

.try p {
    font-size: 2vh;
    color: black;
}

.try:active {
    background-color: #bebebe;
}


/* Модальное окно */


.modal, .modaltwo {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.74); /* Затемнение фона */
}

.modal-content {
    background-color: #fefefe;
    margin: 20vh auto;
    padding: 20px 20px 40px 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
}

.close, .closetwo {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 1%;
    top: 0%;
}

a:hover,
a:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    display: inline;
    position: absolute;
    right: 2%;
    bottom: -4%;
    color: #aaa;
}

.modal-content h1 {
    display: inline;
    color: #f4f4f4;
    font-size: 1.5em;
    
}

.modal-content span {
    letter-spacing: 0;
}

.form {
    width: 100%;
}
form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-content input {
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 17em;
    border: none;
    outline: none;
    border-radius: 1em;
    font-family: "Prosto One";
    background-color: #f4f4f4;
    padding: 2% 5%;
}

/* CSS */
.modal-content button{
  background-color: #f4f4f4;
  border: 1px solid #111111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111111;
  cursor: pointer;
  display: inline-block;
  font-family: 'Prosto One',-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  margin-top: 2%;
  outline: none;
  padding: 8px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.modal-content button:focus-visible {
  box-shadow: #111111 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.modal-content button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.modal-content button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}








/* media */


@media(hover: hover) and (pointer: fine) {
    .try:hover {
        background: #bebebe;
        transition: background 0.2s linear;
    }
    .modal-content button:hover {
        background-color: #bebebe;
        cursor: pointer;
    }
}
@media (max-width: 620px) {
    .modal-content h1 {
      width: 100%; /* Занимает всю доступную ширину */
      font-size: 4vw;
      text-align: center; /* Выравнивание по центру */
      margin: 0; /* Убираем отступы */
    }
}

@media (max-width: 520px) {
    .dj h1 {
        font-size: 27vw;
        text-align: left;
    }
    .comma {
        display: none;
    }
}